name: E2E Tests
on:
   # Run on any commit to the #master branch
   push:
      branches: [master]
   # Run on pull requests into the #master branch
   pull_request:
      branches: [master]
   # Allows user to trigger the workflow from GitHub's web UI
   workflow_dispatch:

jobs:
   cypress-test:
      name: Run Tests
      runs-on: ubuntu-latest
      steps:
         - name: Install AppBuilder
           uses: digi-serve/ab-install-action@v1
           with:
              folder: ab
              port: 8080
              runtime: ${{ github.sha }}

         - name: Check out kitchen-sink tests
           uses: actions/checkout@v3
           with:
              repository: digi-serve/kitchensink_app
              path: ab/test/e2e/cypress/integration/kitchensink_app

         - name: Deploy Stack
           run: ./UP.sh -t -q
           working-directory: ./ab

         # These next steps are to save our ablogs to file
         - run: npm install pm2@latest -g
         - name: Save Logs
           run: pm2 start ./logs.js -- --toFile logs/ABServices.log
           working-directory: ./ab

         - name: Run Cypress Tests
           uses: cypress-io/github-action@v2
           with:
              working-directory: ./ab
              project: ./test/e2e
              config: baseUrl=http://localhost:8080,responseTimeout=100000,defaultCommandTimeout=24000,retries=2
              wait-on: "http://localhost:8080"
              wait-on-timeout: 300
              install: false
              env: stack=ab

         - uses: actions/upload-artifact@v2
           if: failure()
           with:
              name: cypress-screenshots
              path: ./ab/test/e2e/cypress/screenshots

         - uses: actions/upload-artifact@v2
           if: failure()
           with:
              name: ABServices.log
              path: ./ab/logs/ABServices.log
