[mysqld]

# File Key Management
plugin_load_add = file_key_management
file_key_management_filename = /key/keys.enc
file_key_management_filekey = FILE:/key/.key
file_key_management_encryption_algorithm = aes_cbc

# InnoDB/XtraDB Encryption
innodb_encrypt_tables = ON
innodb_encrypt_log = ON
innodb_encryption_threads = 8
innodb_encryption_rotate_key_age = 5
innodb_default_encryption_key_id = 2